:host {
  ::-webkit-scrollbar {
    display: none;
  }

  .card {
    overflow-y: scroll;
    width: 25vw;
    height: 100%;

    &__sticky-header {
      position: sticky;
      z-index: 2;
      top: 0;
      background-color: #212529;
    }

    button {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: 15px auto auto auto;
    }
  }
}
